/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 1rem 2rem;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
.pro{
    text-decoration: none;
    list-style: none;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-info .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/* Dashboard */
.dashboard {
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-message {
    margin-bottom: 2rem;
}

.welcome-message h1 {
    font-size: 2rem;
    color: #2C3E50;
}

.welcome-message p {
    color: #7F8C8D;
}

.stats-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card {
    background-color: #3498DB;
    color: #fff;
    padding: 1.5rem;
    flex-basis: 30%;
    text-align: center;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.tasks-section,
.course-section {
    margin-bottom: 2rem;
}

.tasks-section h2,
.course-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2C3E50;
}
.navel-1{
    align-items: center;
    display: flex;
    flex-direction: row;
 
}
.get{
    margin-top: 30px;
}
.nav-2{
    margin-left: 50px;
}
h3{
    color: #2C3E50;
    margin-bottom: 0px;

}
h4{
    margin-top: 20px;
}
.info-2{
    align-items: center;
    display: flex;
    margin-top: 0px;
}
img{
    width: 50px;
}
.info-3{
    margin-left: 100px;  
}
.btn-1{
    padding: 8px 16px;
    width: 100px;
    border-radius: 12px;
    border: none;
    background-color: #1d7a85;
    color: white;
    cursor: pointer;
}
.btn-2{
    padding: 8px 16px;
    width: 150px;
    border-radius: 12px;
    border: solid red;
    border-width: 1px;
    background-color: white;
    color: red;
    cursor: pointer;
    margin-left: 24px;
}



/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #2C3E50;
    color: #fff;
    bottom: 0;
    width: 100%;
}
